__pycache__/desktop.ini
jsons/*
jsons copy/*
jsons copy 2/*
jsons modified behaviour/*
jsons with unecessary fields/*
output/*
liya11child.csv
liya11mother.csv
.vscode/desktop.ini
correlation-matrix/desktop.ini
input_4_correlation_matrix - Copy.csv
input_4_correlation_matrix_transposed.csv
input_4_correlation_matrix.csv
liya.json
data.xlsx
data.json
data.csv
desktop.ini
example.csv
*.pyc
machines_output/*
runLca/__pycache__/*
